.navbar-lewagon {
  justify-content: space-between;
  background: var(--color);
  color: var(--bg-color);
  padding: 0 30px 0 30px;
  height: 70px;
   h1 {
    color: var(--bg-color);
    margin: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
